* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    justify-content: center;
}

.page-wrapper {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
}

.site-title {
    text-align: center;
    padding: 1em 2em;
    margin-bottom: 4em;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;

}

.cell {
    border: 2px solid black;
}